*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #444;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

label {
  font-size: 14px;
  font-weight: 700;
  /* color: #222; */
}

input,
select,
textarea {
  display: block;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 1ch;
  line-height: 1;
  font-size: 1rem;
  font-family: inherit;
  margin-bottom: 1ch;
  width: 100%;
  border-radius: 4px;
}

textarea {
  font-family: monospace;
}

button {
  display: inline-block;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  padding: 1ch 1rem;
  border: none;
  color: #fff;
  background: hsl(20,90%,55%);
  cursor: pointer;
}

output {
  max-height: 300px;
  display: block;
  overflow: auto;
  background-color: #667;
  border-radius: 4px;
  padding: 1ch;
  border: 1px solid #556;
}

pre {
  margin: 0;
  display: block;
  line-height: 1.1;
  color: #fff;
  font-size: 12px;
  max-height: 500px;
  padding: 0;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -.5rem;
}

.column {
  display: block;
  margin: .5rem;
  flex-grow: 1;
}

.w-1 { width: calc(100% * 1/12 - 1rem); }
.w-2 { width: calc(100% * 2/12 - 1rem); }
.w-3 { width: calc(100% * 3/12 - 1rem); }
.w-4 { width: calc(100% * 4/12 - 1rem); }
.w-5 { width: calc(100% * 5/12 - 1rem); }
.w-6 { width: calc(100% * 6/12 - 1rem); }
.w-7 { width: calc(100% * 7/12 - 1rem); }
.w-8 { width: calc(100% * 8/12 - 1rem); }
.w-9 { width: calc(100% * 9/12 - 1rem); }
.w-10 { width: calc(100% * 10/12 - 1rem); }
.w-11 { width: calc(100% * 11/12 - 1rem); }
.w-12 { width: calc(100% * 12/12 - 1rem); }

.fb-0 { flex-basis: 0; }
.fg-0 { flex-grow: 0; }