.calendar {
  &--full {
    width: 100%;
    height: calc(100vh - #{$toolbar-height});
    background: #ddd;
    overflow: hidden;
  }

  table {
    width: 100% !important;
    min-height: 100%;
    min-width: 28rem;
  }

  tbody td {
    text-align: left;
    vertical-align: top;
    height: 6rem !important;

    @media screen and (min-width: $lg) {
      height: 7rem !important;
    }

    width: calc(100% / 7) !important;
  }
}

.day-button {
  @include button;
  position: absolute;
  top: 2px;
  right: 4px;
  height: 1rem;
  color: #ccc;
  font-size: .8rem;
  text-align: center;

  &:hover {
    color: #555;
  }
}

.calendar-dots {
  $dot-size: 6px;

  @include ul;
  height: $dot-size;
  overflow: hidden;
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;

  li {
    height: $dot-size;
    width: $dot-size;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    background: $primary;
    margin-right: 2px;

    &.task-checked {
      background-color: #888;
    }

    &.task-starred {
      background-color: #e14;
    }
  }
}

.calendar-weekdays {
  background: #fff;
  color: $primary;
  font-weight: 300;
}

.calendar-body tr.calendar-weekdays {
  border-bottom: 2px solid $line-colour;
}