.modal {
  @include modal;
  padding: 2rem;
  width: 700px;
  max-width: 90%;

  &__overlay {
    @include overlay;
    opacity: 0;
    visibility: hidden;

    &--open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__close {
    @include close;
  }
}