.task-list {
  border: none;
  margin: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 2rem;
  height: 100vh;
  overflow: auto;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 800px;
  }
}

.checked {
  color: #aaa;
  text-decoration: line-through;
}

.task-buttons {
  float: right;
}

.edit-button,
.delete-button {
  @include button;

  $size: 1.5rem;

  color: #888;
  height: $size;
}

.todo-date {
  font-size: 1.2rem;
  font-weight: 300;
  color: #555;
  border-bottom: 1px solid $line-colour;
  margin-bottom: 1rem;
}

.full-todo {
  position: absolute;
  background: #fff;
}