[v-cloak] {
  display: none !important; }

*, *::before, *::after {
  box-sizing: border-box; }

html {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", "Segoe UI", Helvetica, sans-serif;
  color: #333; }

body {
  background-size: cover;
  background-attachment: fixed;
  margin: 0; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.calendar--full {
  width: 100%;
  height: calc(100vh - 2rem);
  background: #ddd;
  overflow: hidden; }

.calendar table {
  width: 100% !important;
  min-height: 100%;
  min-width: 28rem; }

.calendar tbody td {
  text-align: left;
  vertical-align: top;
  height: 6rem !important;
  width: calc(100% / 7) !important; }
  @media screen and (min-width: 1280px) {
    .calendar tbody td {
      height: 7rem !important; } }

.arrow-button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: #555;
  border-radius: 4px;
  background-color: transparent;
  font-family: "Inter", "Segoe UI", Helvetica, sans-serif;
  transition: 150ms ease;
  position: absolute;
  top: .5rem;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 4px; }
  .arrow-button:hover {
    background: rgba(0, 0, 0, 0.05); }
  .arrow-button:active {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.25); }
  .arrow-button:first-of-type {
    left: .5rem; }
  .arrow-button:nth-of-type(2) {
    left: 3rem; }
  .arrow-button:nth-of-type(3) {
    right: 3rem; }
  .arrow-button:last-of-type {
    right: .5rem; }

.day-button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: #555;
  border-radius: 4px;
  background-color: transparent;
  font-family: "Inter", "Segoe UI", Helvetica, sans-serif;
  transition: 150ms ease;
  position: absolute;
  top: 2px;
  right: 4px;
  height: 1rem;
  color: #ccc;
  font-size: .8rem;
  text-align: center; }
  .day-button:hover {
    background: rgba(0, 0, 0, 0.05); }
  .day-button:active {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.25); }
  .day-button:hover {
    color: #555; }

.calendar-dots {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 6px;
  overflow: hidden;
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px; }
  .calendar-dots li {
    height: 6px;
    width: 6px;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    background: MEDIUMSEAGREEN;
    margin-right: 2px; }
    .calendar-dots li.task-checked {
      background-color: #888; }
    .calendar-dots li.task-starred {
      background-color: #e14; }

.calendar-weekdays {
  background: #fff;
  color: MEDIUMSEAGREEN;
  font-weight: 300; }

.calendar-body tr.calendar-weekdays {
  border-bottom: 2px solid #ddd; }

.calendar-head {
  background: linear-gradient(100deg, #5ac88b, MEDIUMSEAGREEN);
  color: #fff;
  position: relative;
  height: 3rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center; }

.calendar-table {
  width: 100%;
  height: calc(100vh - 3rem - 2rem);
  overflow: auto; }
  @media screen and (max-width: 640px) {
    .calendar-table {
      height: auto; }
      .calendar-full .calendar-table {
        height: calc(100vh - 2rem - 3rem); } }
  .calendar-table__inner {
    width: 21rem;
    border-collapse: collapse;
    border: none;
    margin: 0 auto;
    background: #fff; }
  .calendar-table__head {
    border-bottom: 2px solid #ddd; }
  .calendar-table__cell {
    padding: 2px 4px;
    cursor: pointer;
    width: calc(100%/7);
    position: relative; }
    .calendar-table__cell:not(:last-child) {
      border-right: 1px solid #ddd; }
    .calendar-table__cell--today {
      color: MEDIUMSEAGREEN;
      font-weight: 600; }
    .calendar-table__cell--selected {
      box-shadow: inset 0 0 0 2px MEDIUMSEAGREEN; }
    .calendar-table__cell--head {
      height: 1.5rem;
      padding: 0; }
      .calendar-table__cell--head:first-child, .calendar-table__cell--head:last-child {
        font-weight: 600; }
    .calendar-table__cell--body {
      transition: background-color 150ms ease; }
      .calendar-table__cell--body:hover {
        background-color: #eee; }
  .calendar-table__list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    height: calc(5rem - 8px);
    overflow: hidden; }
    @media screen and (min-width: 1280px) {
      .calendar-table__list {
        height: calc(6rem - 8px); } }
    .calendar-table__list li {
      display: block;
      padding: 2px;
      white-space: nowrap;
      overflow: hidden;
      font-size: .7rem;
      border-radius: 2px;
      margin: 0;
      color: #fff;
      font-weight: 400;
      background: MEDIUMSEAGREEN;
      margin-top: 2px; }
      .calendar-table__list li.task-checked {
        background-color: #aaa; }
      .calendar-table__list li.task-starred {
        background-color: #e14; }
  .calendar-table tbody tr:not(:last-child) {
    border-bottom: 1px solid #ddd; }

.modal {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  max-width: 100%;
  z-index: 8;
  padding: 2rem;
  width: 700px;
  max-width: 90%; }
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 7;
    opacity: 0;
    visibility: hidden; }
    .modal__overlay--open {
      opacity: 1;
      visibility: visible; }
  .modal__close {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: #555;
    border-radius: 4px;
    background-color: transparent;
    font-family: "Inter", "Segoe UI", Helvetica, sans-serif;
    transition: 150ms ease;
    right: 2px;
    top: 2px;
    position: absolute; }
    .modal__close:hover {
      background: rgba(0, 0, 0, 0.05); }
    .modal__close:active {
      background: rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.25); }

.sidebar {
  width: 300px;
  position: relative;
  min-height: 300px;
  padding: .5rem;
  background: #f8f8f8; }
  .sidebar__list {
    list-style: none;
    padding: 0;
    margin: 0; }
  .sidebar__button {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: #555;
    border-radius: 4px;
    background-color: transparent;
    font-family: "Inter", "Segoe UI", Helvetica, sans-serif;
    transition: 150ms ease;
    font-size: .9rem;
    color: #555;
    width: 100%;
    padding: .5rem;
    margin-bottom: .5rem;
    text-align: left;
    border-radius: 4px; }
    .sidebar__button:hover {
      background: rgba(0, 0, 0, 0.05); }
    .sidebar__button:active {
      background: rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.25); }
  @media screen and (max-width: 878px) {
    .sidebar {
      position: absolute;
      z-index: 10;
      right: 0;
      transform: translateX(100%);
      width: 100%;
      max-width: 300px;
      top: 2rem;
      transition: 300ms ease;
      border: 1px solid #ddd;
      border-top-width: 0;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); }
      .sidebar-open {
        transform: translateX(0); } }

.task-form__submit {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: #555;
  border-radius: 4px;
  background-color: transparent;
  font-family: "Inter", "Segoe UI", Helvetica, sans-serif;
  transition: 150ms ease;
  display: block;
  width: 100%;
  height: 2rem;
  border: 1px solid #eee; }
  .task-form__submit:hover {
    background: rgba(0, 0, 0, 0.05); }
  .task-form__submit:active {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.25); }

.task-form input[type=text],
.task-form input[type=date],
.task-form input[type=number] {
  outline: none;
  display: block;
  padding: .5rem;
  font-size: 18px;
  color: #333;
  border: 2px solid #ddd;
  width: 100%;
  margin-bottom: 1rem; }

.task-list {
  border: none;
  margin: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 2rem;
  height: 100vh;
  overflow: auto; }
  .task-list__list {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 800px; }

.checked {
  color: #aaa;
  text-decoration: line-through; }

.task-buttons {
  float: right; }

.edit-button,
.delete-button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: #555;
  border-radius: 4px;
  background-color: transparent;
  font-family: "Inter", "Segoe UI", Helvetica, sans-serif;
  transition: 150ms ease;
  color: #888;
  height: 1.5rem; }
  .edit-button:hover,
  .delete-button:hover {
    background: rgba(0, 0, 0, 0.05); }
  .edit-button:active,
  .delete-button:active {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.25); }

.todo-date {
  font-size: 1.2rem;
  font-weight: 300;
  color: #555;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem; }

.full-todo {
  position: absolute;
  background: #fff; }

.task-item {
  line-height: 1.5rem;
  padding: 1rem 0; }
  .task-item:not(:last-child) {
    border-bottom: 1px solid #eee; }
  .task-item__label {
    position: relative;
    transition: 250ms ease;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300; }
    .task-item__label--strike {
      color: #aaa; }
  .task-item__strike {
    position: absolute;
    top: calc(50% - 1px);
    left: 2rem;
    right: 0;
    height: 2px;
    background-color: MEDIUMSEAGREEN;
    transform: scaleX(0);
    transform-origin: left;
    transition: 250ms ease; }
    .task-item__strike--show {
      transform: none; }
  .task-item__toolbar {
    font-size: .7rem;
    color: #888;
    font-weight: 500;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between; }

@media screen and (min-width: 878px) {
  .mobile-only {
    display: none !important; } }

.loader {
  display: flex;
  background: #fff;
  height: 100vh;
  width: 100%; }
  .loader::after {
    margin: auto;
    content: "";
    display: block;
    height: 80px;
    width: 80px;
    border: 10px solid #eee;
    border-left-color: MEDIUMSEAGREEN;
    border-radius: 50%;
    animation: spin linear infinite 600ms; }

.app {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  position: relative; }

.wrap {
  display: flex; }
  @media screen and (max-width: 640px) {
    .wrap {
      display: block; } }

.window {
  overflow: hidden;
  height: 100vh;
  width: calc(100% - 300px); }
  @media screen and (max-width: 878px) {
    .window {
      width: 100%;
      overflow-y: auto; } }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media screen and (max-width: 640px) {
    .row {
      display: block; } }

.col {
  width: 47.5%; }

.checkbox {
  display: none; }
  .checkbox + label {
    position: relative; }
    .checkbox + label:before {
      display: inline-block;
      position: relative;
      content: "";
      vertical-align: middle;
      height: 1.5rem;
      width: 1.5rem;
      border: 1px solid #ddd;
      border-radius: 100px;
      margin-right: 1ch;
      transition: 250ms ease; }
    .checkbox + label:after {
      display: block;
      position: absolute;
      content: "";
      top: .45rem;
      left: .375rem;
      height: .4rem;
      width: .75rem;
      border: 2px solid MEDIUMSEAGREEN;
      border-top: none;
      border-right: none;
      opacity: 0;
      transform: rotate(-45deg) scale(0.5);
      transform-origin: center;
      transition: 250ms ease; }
  .checkbox:checked + label:after {
    opacity: 1;
    transform: rotate(-45deg); }

/*# sourceMappingURL=main.css.map */
