@import 'vars';
@import 'mixins';
@import 'base';
@import 'animations';

// vendor
@import 'vue';

// components
@import 'components/calendar';
@import 'components/calendar-head';
@import 'components/calendar-body';
@import 'components/modal';
@import 'components/sidebar';
@import 'components/task-form';
@import 'components/task-list';
@import 'components/task-item';
@import 'components/window';

@import 'misc';

.app {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

.wrap {
  display: flex;

  @media screen and (max-width: $sm) {
    display: block;
  }
}