@import 'vars';
@import 'vue';
@import 'mixins';
@import 'base';
@import 'animations';

// components
@import 'components/sidebar';
@import 'components/calendar';
@import 'components/todo';

.mobile-only {
  @media screen and (min-width: $br-sidebar) {
    display: none !important;
  }
}

.checked {
  color: #aaa;
  text-decoration: line-through;
}

.submit-button {
  @include button;
  display: block;
  width: 100%;
  height: 2rem;
  border: 1px solid #eee;
}

.loader {
  display: flex;
  background: #fff;
  height: 100vh;
  width: 100%;

  &::after {
    margin: auto;
    content: "";
    display: block;
    height: 80px;
    width: 80px;
    border: 10px solid #eee;
    border-left-color: $primary;
    border-radius: 50%;
    animation: spin linear infinite 600ms;
  }
}

.app {
  margin: 0;
  text-align: center;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

.wrap {
  display: flex;

  @media screen and (max-width: $sm) {
    display: block;
  }
}

.window {
  overflow: hidden;
  height: 100vh;
  width: calc(100% - #{$sidebar-width});

  @media screen and (max-width: $break) {
    width: 100%;
    overflow-y: auto;
  }
}

.row {
  display: flex;
  background: #ddd;
  min-height: 100%;

  @media screen and (max-width: $sm) {
    display: block;
  }
}